.bg-color-black {
    background-color: #000000;
}

.fg-color-lightgrey {
    color: lightgray;
}

.fg-color-ashgrey {
    color: #6c757d;
}

.fg-color-deepskyblue {
    color: deepskyblue;
}

.bg-color-deepskyblue {
    background-color: deepskyblue;
}

.bg-color-lightgray {
    background-color: lightgray;
}

.bg-color-darkgray {
    background-color: #4f5050;
}

.bg-color-222 {
    background-color: #222;
}

.btn-primary.override-button {
    background-color: deepskyblue;
    border-color: deepskyblue;
    color: white;
    /*border-width: 10px;
    border-radius: 20px;
    border-style: dashed;
    font-size: 2em;
    font-weight: bolder;*/
}

.border-thin-1px-ashgray {
    border-width: 1px;
    border-color: #2d2d2d;
}

.navbar-custom {
    border-radius: 4px 4px 0 0;
    background-color: deepskyblue;
}

.fg-color-darkgray {
    color: #4f5050;
}

.border-color-darkgray {
    border-color: #4f5050;
}

.no-padding {
    padding: 0;
}

.wd-avatar-sizing {
    width: 50%;
    height: 13%;
    border-radius: 50%;
    border: none;
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.wd-PostItem-img-top {
    border-radius: 10px 10px 0 0;
    border: solid;
    border-color: rgb(47, 51, 54);
}

.wd-PostItem-img-top-bottom {
    border-radius: 10px 10px 10px 10px;
    border: solid;
    border-color: rgb(47, 51, 54);
}

.wd-PostItem-text {
    border-radius: 0 0 10px 10px;
    border-left: solid;
    border-right: solid;
    border-bottom: solid;
    border-color: rgb(47, 51, 54);
}

.wd-PostItem-text-indent {
    text-indent: 30px;
}

.wd-border-width-thin-rounded {
    border-width: thin;
    border-radius: 10px 10px 10px 10px;
}
