.wd-margin-top-8px {
    margin-top: 8px;
}

.wd-left-button-tweet {
    width: 100%;
    border-radius: 20px;
    /* centering for work tweet */
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
}

.wd-nav-items {
    width: 60px;
}

.wd-image-sizing {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: none;
    margin: 0;
    padding: 0;
}

.wd-center-search {
    border-radius: 20px;
    border-color: lightgray;
    border-width: thin;
    text-indent:30px;
    width: 90%;
}

.wd-search-container {
    position: relative;
}

.wd-center-magnify-glass {
    position: absolute;
    top: 7px;
    left:12px
}

.wd-center-image-logo {
    border-radius: 10px;
    border: none;
    padding: 0;

    /* center image vertically */
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.wd-text-container {
    position: relative;
    text-align: left;
}

.wd-text-bottom-left {
    position: absolute;
    bottom: 4px;
    left: 0;
    color: white;
    font-size: 30px;
    font-weight: bolder;
}